{% if connection.is_admin %}
<fieldset><legend>Phase</legend>
    <label>
        Phase:
        <input readonly id="phase" value="{{ "{:?}"|format(game.phase) }}">
    </label>
    {% match game.phase %}
        {% when GamePhase::Preparing %}
            <button
                ws-send
                hx-vals='{"type": "open_lobby"}'
            >Open Lobby</button>
            <br>
            <form ws-send hx-vals='{"type": "load_board"}'>
                <label>
                    Board:
                    <input name="board" placeholder="./board.json">
                </label>
                <input type="submit" value="load">
                <br>
            </form>
        {% when GamePhase::Connecting %}
            {% if game.contestants.len() > 0 %}
            <button
                ws-send
                hx-vals='{"type": "start_game"}'
            >Start Game!</button>
            {% endif %}
        {% when GamePhase::Clue with { clue: _, exclusive: _ }%}
            <button
                ws-send
                hx-vals='{"type": "clue_fully_shown"}'
            >Clue fully shown / read out loud</button>
            /
            <button
                ws-send
                hx-vals='{"type": "finish_clue"}'
            >Finish</button>
        {% when GamePhase::Buzzing with { clue: _ }%}
            <button
                ws-send
                hx-vals='{"type": "finish_clue"}'
            >Finish without answer</button>
        {% when GamePhase::Buzzed with { clue: _, contestant: _ }%}
            <button
                ws-send
                hx-vals='{"type": "accept_answer"}'
            >Accept</button>
            /
            <button
                ws-send
                hx-vals='{"type": "reject_answer"}'
            >Reject</button>
            /
            <button
                ws-send
                hx-vals='{"type": "finish_clue"}'
            >Finish</button>
        {% when GamePhase::Resolution with { clue: _, contestant: _, show_hint }%}
            <button
                ws-send
                hx-vals='{"type": "finish_clue"}'
            >Finish</button>
            {% if !show_hint -%}
            /
            <button
                ws-send
                hx-vals='{"type": "reveal_hint"}'
            >Reveal Hint</button>
            {%- endif %}
        {% else %}
    {% endmatch %}
</fieldset>
{% endif %}
