{% if connection.is_admin %}
<fieldset><legend>Phase</legend>
    <label>
        Phase:
        <input readonly id="phase" value="{{ "{:?}"|format(game.phase) }}">
    </label><br>
    {% match game.phase %}
        {% when GamePhase::Preparing %}
            <button
                accesskey="q"
                ws-send
                hx-vals='{"type": "open_lobby"}'
            >Open Lobby</button>
            <br>
            <form ws-send hx-vals='{"type": "load_board"}'>
                <label>
                    Board:
                    <input name="board" placeholder="./board.json">
                </label>
                <input type="submit" value="load">
                <br>
            </form>
        {% when GamePhase::Connecting %}
            {% if game.contestants.len() > 0 %}
            <button
                accesskey="q"
                ws-send
                hx-vals='{"type": "start_game"}'
            >Start Game!</button>
            {% endif %}
        {% when GamePhase::Clue with { clue: clue, exclusive: _ }%}
            <button
                accesskey="q"
                ws-send
                hx-vals='{"type": "clue_fully_shown"}'
            >Clue fully shown / read out loud</button>
            /
            <button
                accesskey="a"
                ws-send
                hx-vals='{"type": "finish_clue"}'
            >Finish</button>
            <br>
            {{ game.board.get(clue).unwrap().response }}
            <hr>
            {{ game.board.get(clue).unwrap().hint }}
        {% when GamePhase::Buzzing with { clue: clue }%}
            <button
                accesskey="a"
                ws-send
                hx-vals='{"type": "finish_clue"}'
            >Finish without answer</button>
            <br>
            {{ game.board.get(clue).unwrap().response }}
            <hr>
            {{ game.board.get(clue).unwrap().hint }}
        {% when GamePhase::Buzzed with { clue: clue, contestant: _ }%}
            <button
                accesskey="q"
                ws-send
                hx-vals='{"type": "accept_answer"}'
            >Accept</button>
            /
            <button
                accesskey="w"
                ws-send
                hx-vals='{"type": "reject_answer"}'
            >Reject</button>
            /
            <button
                accesskey="a"
                ws-send
                hx-vals='{"type": "finish_clue"}'
            >Finish</button>
            <br>
            {{ game.board.get(clue).unwrap().response }}
            <hr>
            {{ game.board.get(clue).unwrap().hint }}
        {% when GamePhase::Resolution with { clue: clue, contestant: _, show_hint }%}
            <button
                accesskey="q"
                ws-send
                hx-vals='{"type": "finish_clue"}'
            >Finish</button>
            {% if !show_hint -%}
            /
            <button
                accesskey="w"
                ws-send
                hx-vals='{"type": "reveal_hint"}'
            >Reveal Hint</button>
            <br>
            {{ game.board.get(clue).unwrap().response }}
            <hr>
            {{ game.board.get(clue).unwrap().hint }}
            {%- endif %}
        {% else %}
    {% endmatch %}
</fieldset>
<fieldset><legend>Players</legend>
    {% for c in game.contestants %}
    <input
        type="text" value="{{c.name.as_deref().unwrap_or("")}}" placeholder="{{c.name_hint}}"
        ws-send name="name"
        hx-vals='{"type": "name_contestant", "contestant": {{loop.index0}} }'
    ><br>
    <input name="points" type="number" value="100" step="100" min="100">
    <button
        ws-send
        hx-trigger="click, keydown[code=='Enter'] throttle:1s from:previous"
        hx-include="previous input[name='points']"
        hx-vals='{"type": "award_points", "contestant": {{loop.index0}} }'
    >+</button>
    <button
        ws-send
        hx-include="previous input[name='points']"
        hx-vals='{"type": "revoke_points", "contestant": {{loop.index0}} }'
    >-</button><br>
    {% if !loop.last %}<hr>{% endif %}
    {% endfor %}
</fieldset>
{% endif %}
