{%- let control = connection.is_admin -%}{# todo: let player in Picking phase control too #}
{%- let controllabel_td_attrs = "" -%}
<table>
    <tr>
    {% for c in game.board.categories %}
        <th>{{ c.title }}</th>
    {% endfor %}
    </tr>
    {% for r in game.board.clue_rows() %}
    <tr>
        {% for (h,c) in r %}
            {% if c.solved %}<td>&nbsp;</td>{% else %}
            <td
                ws-send
                hx-trigger="click"
                hx-vals='{"type": "pick", "clue": [{{h.0}},{{h.1}}]}'
                class="clickable"
                {%- if connection.is_admin %}title="{{c.clue}}"{% endif %}
            >{{ c.points }}</td>
            {% endif %}
        {% endfor %}
    </tr>
    {% endfor %}
</table>
{%- macro clue(handle, still_reading) -%}
    {%- let clue = game.board.get(handle).unwrap() -%}
    <div id="clue" class="{% if clue.is_long() %}smaller{% endif %} {% if still_reading %}reading{% endif %}">
        <div>{{ clue.clue|safe }}</div>
    </div>
{%- endmacro %}
{% match game.phase %}
{% when GamePhase::Preparing %}
    {% if game.board.categories.len() == 0 %}<h1>Loading...</h1>{% endif %}
{% when GamePhase::Clue with { clue: c, exclusive: e } %}
    {% call clue(c, true) %}
{% when GamePhase::Buzzing with { clue: c } %}
    {% call clue(c, false) %}
{% when GamePhase::Buzzed with { clue: c, contestant: _ } %}
    {% call clue(c, false) %}
{% when GamePhase::Resolution with { clue: clue, contestant: _, show_hint: show_hint } %}
    {%- let clue = game.board.get(clue).unwrap() -%}
    <div id="clue">
        <span>{{ clue.response }}</span>
        {%- if show_hint %}
        <hr>
        <span>{{ clue.hint }}</span>
        {% endif %}
    </div>
{% else %}
{% endmatch %}
