<!DOCTYPE html>
<html>
<head>
    <title>Answers in the form of a question</title>
    <script src="/htmx.min.js"></script>
    <script src="/htmx.ws.js"></script>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <main hx-ext="ws" ws-connect="/websocket?{{ token.as_deref().unwrap_or("") }}" class="htmx-request">
        <div class="htmx-indicator" id="connecting"><h1>connecting</h1></div>
        <div id="board"></div>
        <div id="contestants"></div>
        <div id="admin"></div>
        <div id="errors" class="hide"></div>
    </main>
    <script>
        htmx.on("htmx:wsOpen", (evt) => {
            evt.detail.elt.classList.remove("htmx-request");
            // htmx.findAll("link[rel='stylesheet']").forEach(l => {l.href = l.href.replace(/\?(.*)|$/, "\?$1a")});
        });
        htmx.on("htmx:wsClose", (evt) => {
            evt.detail.elt.classList.add("htmx-request");
        });
        htmx.on("htmx:wsBeforeMessage", () => {
            htmx.addClass(htmx.find("#errors"), "old");
        });
        
        htmx.config.wsReconnectDelay = function (retryCount) {
            return 150 + (Math.min(retryCount, 4) * 100) + (200 * Math.random());
        }
    </script>
</body>
</html>
