<!DOCTYPE html>
<html>
<head>
    <title>Answers in the form of a question</title>
    <script src="/htmx.min.js"></script>
    <script src="/htmx.ws.js"></script>
    <script src="/confetti.min.js"></script>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <main hx-ext="ws" ws-connect="/websocket?{{ token.as_deref().unwrap_or("") }}" class="htmx-request">
        <div class="htmx-indicator" id="connecting"><h1>connecting</h1></div>
        <div id="board"></div>
        <div id="contestants"></div>
        <div id="admin"></div>
        <div id="errors" class="hide"></div>
        <canvas id="confetti-canvas"></canvas>
    </main>
    <script>
        let shouldConfetti = false;
        let isConfetti = false;

        htmx.on("htmx:wsOpen", (evt) => {
            evt.detail.elt.classList.remove("htmx-request");
            // htmx.findAll("link[rel='stylesheet']").forEach(l => {l.href = l.href.replace(/\?(.*)|$/, "\?$1a")});
        });
        htmx.on("htmx:wsClose", (evt) => {
            evt.detail.elt.classList.add("htmx-request");
        });
        htmx.on("htmx:wsBeforeMessage", () => {
            htmx.addClass(htmx.find("#errors"), "old");
            shouldConfetti = false;
        });
        htmx.on("htmx:wsAfterMessage", () => {
            if(shouldConfetti && !isConfetti) {
                console.log("starting");
                startConfetti();
                isConfetti = true;
            };
            if(!shouldConfetti && isConfetti) {
                console.log("stopping");
                stopConfetti();
                isConfetti = false;
            };
        });
        // Add hotkey information
        htmx.onLoad((swapped) => {
            for(let element of htmx.findAll(swapped, '[accesskey]')) {
                let label = `[${element.accessKey}]`;
                if(!element.innerHTML.startsWith(label)) {
                    element.innerHTML = label + " " + element.innerHTML;
                }
                let title = `[${element.accessKeyLabel}]`;
                if(!element.title.endsWith(title)) {
                    element.title += " " + title;
                }
            }
        });
        
        htmx.config.wsReconnectDelay = function (retryCount) {
            return 150 + (Math.min(retryCount, 4) * 100) + (200 * Math.random());
        }
    </script>
</body>
</html>
